@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');

.be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('./background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 5px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="date"]:focus {
    border-color: cornflowerblue;
    box-shadow: 0 0 5px rgba(100, 149, 237, 0.5);
    outline: none;
}

button {
    background: cornflowerblue;
    color: white;
    transition: transform 0.3s;
    padding: 10px;
    margin-top: 240px;
    position: absolute;
    border: none;
    cursor: pointer;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 10px;
    align-content: center;
}

button:hover {
    transform: scale(1.15);
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    display: block;
}

.show {
    display: block;
}

.date-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#status {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 13px;
    color: #4A90E2;
    text-align: center;
    transition: background-color 0.3s ease-in, color 0.4s ease-in;
}

#status:hover {
    color: #133432;
}


.time-selection {
    position: relative;
    display: inline-block;
}

.date-changer {
    display: none;
    margin-top: 10px;
}

.dropbtn {
    margin: 5px;
}
